<h1>Change name</h1>

<form action="/aryaslist/<%= @id %>" method="POST">

	<label for="name">Name: </label>
	<input type="text" name="name" value="<%= @list[:name] %>">

	<label for="desc">Reasoning: </label>
	<textarea name="desc"><%= @list[:desc] %></textarea>

	<input type="hidden" name="_method" value="PUT">

	<input type="submit" value="Update">

</form>