<h2><%= @new %></h2>

<form action="/aryaslist" method="POST">
	<label for="name"></label>
	<input type="text" name="name" placeholder="Name the heathen!">
	<label for="desc"></label>
	<input type="text" name="desc" placeholder="Why must they die?">
	<input type="submit" name="Add to Arya's list">
</form>