<h2><%= @new %></h2>

<form action="/aryaslist" method="POST">

	<label for="name">Name: </label>
	<input type="text" name="name" placeholder="Name the heathen!">

	<label for="desc">Reasoning: </label>
	<input type="text" name="desc" placeholder="Why must they die?">
	
	<input type="submit" value="Add them to the list!">
</form>